* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #0e1f37;
  color: #fff;
}

/* Sidebar */
.sidebar {
  width: 260px;
  height: 100vh;
  background: #08152b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  transition: 0.3s;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.logo {
  background: #143d7e;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

/* Menu */
.menu {
  list-style: none;
}

.menu-item {
  padding: 14px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-item:hover {
  background: #143d7e;
}

.menu-item.active {
  background: #1d4ed8;
  font-weight: 600;
}

/* Footer */
.sidebar-footer {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 12px;
  border-top: 1px solid #1d4ed8;
}

.sidebar-footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
  transition: opacity 0.3s;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.card {
  background: #1d4ed8;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  font-size: 32px;
  font-weight: 800;
}

.card span {
  color: #ddd;
  font-size: 13px;
}

/* Sections */
.section {
  background: #12294a;
  padding: 22px;
  border-radius: 12px;
  margin-top: 25px;
}

/* List */
.list {
  margin-top: 20px;
}

.list li {
  background: #1b3b62;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  background: #1d4ed8;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #2658ea;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
  outline: none;
}
/* Animation Slide */
.slide-in {
    opacity: 0;
    transform: translateX(40px);
    animation: slideIn .8s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


